*{
       
        margin: 0;
        padding: 0;  
}
.logoimg{
     height: 160px;
     width: 340px;        
}

.cabecalho{
        padding-top: 10px;
        padding-bottom: 20px;
        height:170px; 
        background: rgb(4, 64, 3);
}

header{
        position:fixed;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;  
        position: fixed;
        top: 0%;
        font-size: 20px;
        padding: 15px 50px ;
}

.headerUL{
        cursor: default;
        word-spacing: 20px;
        padding-right: 2%;
       
    }

.headerLI{
     display: inline-block; 
}

.link{
        text-decoration: none;
        color: white;
        font-family: 'DogicaBold';
        font-size: 20px;
        margin-right:7px;       
      }
    
.aNavLink:hover{
        background-image: url(Images/woodenTexture.jpg);
        color: black;
        border-radius: 9px;
        padding: 6px;  
}


.aNavLink1:hover{
        background-image: url(Images/woodenTexture.jpg);
        color: red;
        border-radius: 9px;
        padding: 6px;  
        cursor:pointer;
}

.icones{
       color:aliceblue
}

.MensagemUsuario{
        font-size:19px;
        padding-top: 2%;
        padding-left: 3%;
        text-decoration: none;
        color: white;
        font-family: 'Daydream';
}

@font-face {
        font-family: 'Daydream';
        src: url('Fonts/Daydream.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
}
    
@font-face{
        font-family: 'DogicaBold';
        src:url('Fonts/TTF/dogicabold.ttf');
        font-weight: normal;
        font-size: normal;
}
    