body{
    text-align: center;
    background-image: url(Images/Bush1.png);
    background-repeat: repeat;
}

.container1{
    display: flex;
    justify-content: center;
    float: right;
    margin-top: -13.5%;

}

.div1{
    background-image: url(Images/woodenTexture.jpg);
    width: 800px;
    height: 600px;
    background-repeat: no-repeat;
    margin-top: -30%;

    border-style: solid;
    border-width: 5px;
    border-color: rgb(51, 35, 26);
    border-radius: 50px;
    box-shadow: 5px 5px 75px 5px rgba(24, 7, 7, 0.644), 5px 5px 75px 5px rgba(17, 10, 1, 0.651);

    text-align: center;

}

.p1{
    font-family: 'Upheaval';
    font-size: 25px;
    color: rgb(43, 25, 14);

    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;

}





/*Import de fontes */
@font-face {
    font-family: 'Daydream';
    src: url('Fonts/Daydream.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Upheaval';
    src: url('Fonts/upheavtt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}