.link{
    text-decoration: none;
    color: white;
    font-family: 'DogicaBold';
    font-size: 22px;
    margin-left: 5px;
  }

  .aNavLink:hover{
    background-image: url(Images/woodenTexture.jpg);
    color: black;
    border-radius: 9px;
    padding: 6px;

  }

.containerTituloNav{
  margin-right:42.4%;
  margin-left:10%;
}

.tituloNav{
    height: 170px;
    width: 355px;
    
}
@font-face {
    font-family: 'Daydream';
    src: url('Fonts/Daydream.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'DogicaBold';
    src:url('Fonts/TTF/dogicabold.ttf');
    font-weight: normal;
    font-size: normal;
}

